---
layout: archive
---
<!DOCTYPE html>

<style>
.left-box{
  background: beige;
  float: left;
}
.right-box {
  background: beige;
  float: right;
}
</style>

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>


<body>

  {% if paginator %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

  {% assign entries_layout = page.entries_layout | default: 'list' %}
  <div class="entries-{{ entries_layout }}">
    {% for post in posts %}
      {% include archive-single.html type=entries_layout %}
    {% endfor %}
  </div>
  <aside>
    <div class="right-box">
      {% for category in site.categories %} 
        {{ category | first }} ({{ category | last | size }})
      {% endfor %}
    </div>
  </aside>  

  {% include paginator.html %}

</body>

</html>
